/* Estilos generales
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}


.sidenav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background-color:rgb(79, 79, 79);
  color: #fff;
  overflow-y: auto;
  padding-top: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 40px;
}

.logo img {
  width: 100%;
  max-width: 150px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.menu a:hover{
  background-color: #555;
  border-right: 6px solid rgb(255, 0, 0);
}

.logout-btn {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  text-align: left;
}

.logout-btn:hover {
  background-color: #555;
}


.main-content {
  margin-left: 250px;
  padding: 20px;
}
 */

 .img-toolbar{
  width: 5rem;
  height: 4rem;
 }
 .color-tool{
  background-color: transparent;
}
.sidenav-container-color{
  background-color:rgb(79, 79, 79);
color: antiquewhite;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

.menu a:hover{
  background-color: #555;
  border-right: 6px solid rgb(255, 0, 0);
}
