
/* Estilo general del formulario de factura */
.factura-form {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 900px; /* Ajusta el ancho del formulario según sea necesario */
  margin: 0 auto; /* Centrar el formulario horizontalmente */
  padding: 20px;
  border: 2px solid #000; /* Borde */
  position: relative; /* Permitir posicionar elementos hijos relativamente */
}

/* Estilo de la sección del título y la imagen del logo */
.factura-title-section {
  display: flex;
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: flex-start; /* Alinea el contenido arriba */
  margin-bottom: 20px; /* Espacio debajo de la sección */
}

/* Estilo del título */
.factura-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Estilo de la imagen del logo */
.factura-logo {
  width: 8rem; /* Ancho deseado para el logo */
  height: auto;
  margin-top: -50px; /* Altura ajustada automáticamente */
}

/* Estilo del contenedor de la rejilla */
.factura-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas */
  grid-gap: 20px;
 /* Espacio entre las columnas */
}

/* Estilo de las etiquetas */
.factura-label {
  font-size: 16px;
  font-weight: bold;
   /* Ajustar el margen inferior */
}
/* Estilo de los campos de entrada */
.factura-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px; /* Incrementar el margen inferior */
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo del botón */
.factura-button {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.factura-button:hover {
  background-color: #0056b3;
}

/* Estilos para ocultar todo el contenido excepto la parte de la factura durante la impresión */
@media print {
  body * {
    display: none;
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #000;
  }

  .print-only {
    padding-top: 20px;
    column-gap: 20px; /* Espacio entre las columnas */
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;

  }
}
